data1/
results/
resources/ARS1.2PlusY_BQSR.vcf.gz
resources/ARS1.2PlusY_BQSR.vcf.gz.tbi
.snakemake
workflow/nohup.out
workflow/nohup_Snakefile_longreads.out
workflow/nohup_SV_genotyping.out
workflow/report/
workflow/processed_fastq2reads.txt
resources/dairy1n2.vcf.gz 
resources/dairy1n2.vcf.gz.tbi 
resources/dairy1n4.vcf.gz 
resources/dairy1n4.vcf.gz.tbi
resources/HOLn2.vcf.gz 
resources/HOLn2.vcf.gz.tbi 
resources/HOLn4.vcf.gz 
resources/HOLn4.vcf.gz.tbi
resources/HOL15jasmn2.vcf.gz
resources/HOL15jasmn2.vcf.gz.tbi

