data1/
results/
resources/ARS1.2PlusY_BQSR.vcf.gz
resources/ARS1.2PlusY_BQSR.vcf.gz.tbi
.snakemake
workflow/nohup.out
workflow/nohup_Snakefile_longreads.out
workflow/nohup_SV_genotyping.out
workflow/report/
workflow/processed_fastq2reads.txt
workflow/archive/
resources/dairy1n2.vcf.gz 
resources/dairy1n2.vcf.gz.tbi 
resources/dairy1n4.vcf.gz 
resources/dairy1n4.vcf.gz.tbi
resources/HOLn2.vcf.gz 
resources/HOLn2.vcf.gz.tbi 
resources/HOLn4.vcf.gz 
resources/HOLn4.vcf.gz.tbi
resources/dairy2n2.vcf.gz
resources/dairy2n2.vcf.gz.tbi
resources/dairy2n4.vcf.gz
resources/dairy2n4.vcf.gz.tbi
resources/HOL2n2.vcf.gz
resources/HOL2n2.vcf.gz.tbi
resources/HOL2n4.vcf.gz
resources/HOL2n4.vcf.gz.tbi
resources/HOL3n2.vcf.gz
resources/HOL3n2.vcf.gz.tbi
resources/HOL3n4.vcf.gz
resources/HOL3n4.vcf.gz.tbi
resources/dairy3n2.vcf.gz
resources/dairy3n2.vcf.gz.tbi
resources/dairy3n4.vcf.gz
resources/dairy3n4.vcf.gz.tbi
resources/dairy4n2.vcf.gz
resources/dairy4n2.vcf.gz.tbi
resources/dairy4n4.vcf.gz
resources/dairy4n4.vcf.gz.tbi
resources/all1n2.vcf.gz
resources/all1n2.vcf.gz.tbi
resources/all2n2.vcf.gz
resources/all2n2.vcf.gz.tbi
resources/all3n2.vcf.gz
resources/all3n2.vcf.gz.tbi
resources/all4n2.vcf.gz
resources/all4n2.vcf.gz.tbi
resources/all5n2.vcf.gz
resources/all5n2.vcf.gz.tbi
resources/all6n2.vcf.gz
resources/all6n2.vcf.gz.tbi
resources/all7n2.vcf.gz
resources/all7n2.vcf.gz.tbi
resources/all8n2.vcf.gz
resources/all8n2.vcf.gz.tbi
resources/all1n4.vcf.gz
resources/all1n4.vcf.gz.tbi
resources/all1BPn2.vcf.gz
resources/all1BPn2.vcf.gz.tbi
resources/all2BPn2.vcf.gz
resources/all2BPn2.vcf.gz.tbi
resources/all3BPn2.vcf.gz
resources/all3BPn2.vcf.gz.tbi
resources/all4BPn2.vcf.gz
resources/all4BPn2.vcf.gz.tbi
resources/all5BPn2.vcf.gz
resources/all5BPn2.vcf.gz.tbi
resources/all6BPn2.vcf.gz
resources/all6BPn2.vcf.gz.tbi
resources/all7BPn2.vcf.gz
resources/all7BPn2.vcf.gz.tbi
resources/all8BPn2.vcf.gz
resources/all8BPn2.vcf.gz.tbi
resources/panel_final.vcf.gz
resources/panel_final.vcf.gz.tbi
workflow1/
results1/

